<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" type="image/png" sizes="16x16" href="../../images/logo2.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link href="css/style.css" rel="stylesheet">
</head>
    <body>
    <div id="nav-userrole" th:switch="${typeuser}">
        <div th:case="2"><section th:replace="~{ fragments :: navigationadmin }"></section></div>
        <div th:case="1"><section th:replace="~{ fragments :: navigationuser }"></section></div>
        <div th:case="*"><section th:replace="~{ fragments :: navigationnotconnected }"></section></div>
    </div>
        <h1>Welcome to you  <span id="welc" th:text="${login}">35</span></h1>

    <div class="presentation">
        <p class="presentation">Bienvenue sur Surv'HEI !</p>
        <p class="presentation">Surv'HEI vous propose l'éxperience de créer vos propres Forms par vous même.</p>
        <p class="presentation">En effet, en vous inscrivant sur notre site, vous aurez accès à la création de Forms</p>
        <ul class="presentation">Ce que vous pouvez faire :
            <li class="presentation">Créer votre propre Forms</li>
            <li class="presentation">Récuperer vos Forms</li>
            <li class="presentation">Modifier vos Forms</li>
        </ul>
        <p class="presentation">Les Forms sont sous la forme de question Oui ou Non</p>
        <p class="presentation">Amusez vous !</p>
    </div>

    <div id="groupForms">
        <div id="individualForm" >
            <h3>Aperçu de nos formulaire :</h3>
            <a class="boutonformulaire"   th:href="@{/forms?id={id}(id=${form.id})}"  href="">
                <figure class="figure" style="width: 50px; height: 50px; background-color: #141e30;">
                    <img class="imgfig"  src="images/logo2.png">
                    <figcaption th:text="${form.title}">Test formulaire</figcaption>
                </figure>
            </a>
        </div>
    </div>

    </body>
</html>