<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../../css/style.css" rel="stylesheet">

        <title>SurvHEI</title>
    </head>

    <body>
        <nav class="navbar">
            <div class="navbar-header">
                <a href="Accueil.html">SurvHEI</a>
            </div>
            <div>
                <ul>
                    <li><a href="Accueil.html">Survey</a></li>
                    <li><a href="Accueil.html">Recent</a></li>
                    <li><a href="pagelogin.html">Compte</a></li>
                </ul>
            </div>
        </nav>

        <div>
            <h1>Les Surveys récents</h1>
        </div>


    </body>
</html>