<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="icon" type="image/png" sizes="64x64" href="../../images/logob.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link href="css/style.css" rel="stylesheet">
</head>
    <body>
        <section  th:replace="~{ fragmentsadmin :: navigation }"></section>
        <h1>Welcome to you Admin <span id="welc" th:text="${login}">35</span></h1>


        <a class="boutonformulaire" href="">
            <figure class="figure" style="width: 200px; height: 200px; background-color: #141e30;">
                <img class="imgfig" src="images/jt.jpg">
                <figcaption>Test formulaire</figcaption>
            </figure>
        </a>

        <a class="boutonformulaire" href="">
            <figure class="figure" style="width: 200px; height: 200px; background-color: #141e30;">
                <img class="imgfig" src="images/maxime.jpg">
                <figcaption>Test formulaire</figcaption>
            </figure>
        </a>

        <a class="boutonformulaire" href="">
            <figure class="figure" style="width: 200px; height: 200px; background-color: #141e30;">
                <img class="imgfig" src="images/moi.jpg">
                <figcaption>Test formulaire</figcaption>
            </figure>
        </a>
        <a class="boutonformulaire" href="">
            <figure class="figure" style="width: 200px; height: 200px; background-color: #141e30;">
                <img class="imgfig" src="images/zaki.jpg">
                <figcaption>Test formulaire</figcaption>
            </figure>
        </a>

        <a class="boutonformulaire" href="">
            <figure class="figure" style="width: 200px; height: 200px; background-color: #141e30;">
                <img class="imgfig" src="images/zaki.jpg">
                <figcaption>Test formulaire</figcaption>
            </figure>
        </a>
    </body>
</html>