<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="css/createform.css" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="icon" type="image/png" sizes="16x16" href="../../images/logo2.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sign Up</title>

</head>
<body>
<div class="brand">
    <a href="Accueil"><img id="logosite" src="images/logob.png"></a>
</div>
<div class="formulaire">
    <h1>Quelles sont tes questions ?</h1>
    <br/>
    <h2>Combien de questions voulez vous poser ?</h2>
    <input onkeyup="addFields()" type="text" id="member" name="member" value="">

    <br/><br/><br/>

    <form id="CreateForm" method="post" >
        <div id="GenerateQuestions">

        </div>

        <!--<div class="user-box">
            <input type="text" name="Q3" id="Q3">
            <label>Question 3</label>
            <div class="obligatoire">
                <p class="lobligatoire">obligatoire :</p>
                <input type="checkbox" class="cbox" name="cQ3" id="cQ3" >
            </div>
            <input id="prodId" name="prodId" type="hidden" value="xm234jq">
        </div>-->
        <button type="submit">Envoyer<span></span> <span></span>
            <span></span> <span></span></button>

        <button onclick="location.href='connexion'" type="button">Abandonner<span></span><span>
        </span><span></span><span></span></button>
        <p id="erreur"></p>
    </form>
</div>
<script src="js/Pages.js"></script>
</body>
</html>

