<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="css/createform.css" xmlns="http://www.w3.org/1999/html">
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sign Up</title>

</head>
<body>
<div class="formulaire">
    <h1>Quelles sont tes questions ?</h1>
    <br/>
    <h2>Combien de question voulez vous poser ?</h2>
    <input type="text" id="member" name="member" value="">
    <a href="#" id="filldetails" onclick="addFields()">Créer les questions</a>
    <br/><br/><br/>

    <form id="CreateForm" method="post" >
        <div id="GenerateQuestions">

        </div>

        <!--<div class="user-box">
            <input type="text" name="Q3" id="Q3">
            <label>Question 3</label>
            <div class="obligatoire">
                <p class="lobligatoire">obligatoire :</p>
                <input type="checkbox" class="cbox" name="cQ3" id="cQ3" >
            </div>
            <input id="prodId" name="prodId" type="hidden" value="xm234jq">
        </div>-->
        <button type="submit">Envoyer<span></span> <span></span>
            <span></span> <span></span></button>
        <p id="erreur"></p>
    </form>
</div>
<script src="js/Pages.js"></script>
</body>
</html>

