<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" type="image/png" sizes="16x16" href="../../images/logo2.png">
    <meta charset="UTF-8">
    <title>Formulaire</title>
    <link href="css/forms.css" rel="stylesheet">
</head>
<body>
<div class="brand">
    <a href="Accueil"><img id="logosite" src="images/logob.png"></a>
</div>
<div class="login-box">
    <h1>Formulaire</h1>
    <span></span>

    <form>
        <div class="user-box" th:each="page : ${pagesList}">

            <h1 th:text="${page.Question}">Question 1</h1>
            <div>
                <input type="radio" id="Oui" th:name="${page.Numero}" value="true" checked>
                <label for="Oui">Oui</label>
            </div>

            <div>
                <input type="radio" id="Non" th:name="${page.Numero}" value="false" checked>
                <label for="Non">Non</label>
            </div>
        </div>

        <button type="submit">Envoyer<span></span> <span></span>
            <span></span> <span></span></button>
    </form>
</div>
</body>
</html>