<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
<section  th:replace="~{ fragmentsuser :: navigation }"></section>
<h1>Nos formulaires</h1>


<a class="boutonformulaire" href="/forms?id=0">
    <figure class="figure" style="width: 50px; height: 50px; background-color: #141e30;">
        <img class="imgfig" src="images/jt.jpg">
        <figcaption>Test formulaire</figcaption>
    </figure>
</a>


<a class="boutonformulaire" href="/forms?id=1">
    <figure class="figure" style="width: 50px; height: 50px; background-color: #141e30;">
        <img class="imgfig" src="images/maxime.jpg">
        <figcaption>Test formulaire</figcaption>
    </figure>
</a>

<a class="boutonformulaire" href="/forms?id=2">
    <figure class="figure" style="width: 50px; height: 50px; background-color: #141e30;">
        <img class="imgfig" src="images/moi.jpg">
        <figcaption>Test formulaire</figcaption>
    </figure>
</a>
<a class="boutonformulaire" href="">
    <figure class="figure" style="width: 50px; height: 50px; background-color: #141e30;">
        <img class="imgfig" src="images/zaki.jpg">
        <figcaption>Test formulaire</figcaption>
    </figure>
</a>

<a class="boutonformulaire" href="">
    <figure class="figure" style="width: 50px; height: 50px; background-color: #141e30;">
        <img class="imgfig" src="images/zaki.jpg">
        <figcaption>Test formulaire</figcaption>
    </figure>
</a>


</body>
</html>