<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" type="image/png" sizes="16x16" href="../../images/logo2.png">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="js/Pages.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
<div id="nav-userrole" th:switch="${typeuser}">
    <div th:case="2"><section th:replace="~{ fragments :: navigationadmin }"></section></div>
    <div th:case="1"><section th:replace="~{ fragments :: navigationuser }"></section></div>
    <div th:case="*"><section th:replace="~{ fragments :: navigationnotconnected }"></section></div>
</div>
<h1>[[${NbForms}]] formulaires disponibles</h1>
<br/>
<input type="text" id="FormSearchBar" onkeyup="searchAndHide()" placeholder="Recherchez un formulaire">
<br/>

<div id="groupForms">
<div id="individualForm" class="removable" th:each="form : ${formList}" th:switch="${UserType}">
<a class="boutonformulaire removable"   th:href="@{/forms?id={id}(id=${form.id})}"  href="">
    <figure class="figure" style="width: 50px; height: 50px; background-color: #141e30;">
        <img class="imgfig"  src="images/jt.jpg">
        <figcaption th:text="${form.title}">Test formulaire</figcaption>
    </figure>
</a>
    <div th:case="'2'">
        <button  class="button-24" role="button" th:onclick="@{deleteForm({id})(id=${form.id})}">Supprimer</button>
        <button  class="button-24" role="button" th:onclick="@{editForm({id})(id=${form.id})}">Modifier</button>
    </div>
    <button th:case="*" style="display: none;" role="button">Supprimer</button>
</div>
</div>

</body>
</html>