<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" type="image/png" sizes="16x16" href="../../images/logo2.png">
    <meta charset="UTF-8">
    <title>Formulaire</title>
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
<div class="login-box">
    <h1>Formulaire</h1>
    <span></span>

    <form>
        <div class="user-box" th:each="page : ${pagesList}" >

        <h1 th:text="${page.Question}">Question 1</h1>
            <input type="radio" id="Oui" th:name="${page.Numero}" value="true">
            <label>Oui</label>

            <input type="radio" id="Non" th:name="${page.Numero}" value="false">
            <label>Non</label>
        </div>
        <input type="submit" name="submit" formmethod="POST">
    </form>
</div>
</body>
</html>