<!DOCTYPE html>
<html lang="fr" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
<section  th:replace="~{ fragments :: navigation }"></section>
<h1>Nos formulaires</h1>

<di th:each="form : ${formList}">
<a class="boutonformulaire"  th:href="${form.id}" href="">
    <figure class="figure" style="width: 50px; height: 50px; background-color: #141e30;">
        <img class="imgfig"  src="images/jt.jpg">
        <figcaption th:text="${form.nom}">Test formulaire</figcaption>
    </figure>
</a>
</di>

<a class="boutonformulaire" href="">
    <figure class="figure" style="width: 50px; height: 50px; background-color: #141e30;">
        <img class="imgfig" src="images/maxime.jpg">
        <figcaption>Test formulaire</figcaption>
    </figure>
</a>

</body>
</html>