<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" type="image/png" sizes="64x64" href="../../images/logob.png">
    <meta charset="UTF-8">
    <title>Formulaire</title>
    <link href="css/forms.css" rel="stylesheet">
</head>
<body>
<div class="login-box">
    <h2>Formulaire</h2>
    <span></span>

    <form>
        <div class="user-box" th:each="page : ${pagesList}" >

        <h3 th:text="${page.Question}">Question 1</h3>
            <p class="ouinon">Oui<input type="radio" id="Oui" th:name="${page.Numero}" value="true"></p>


            <p class="ouinon">Non<input type="radio" id="Non" th:name="${page.Numero}" value="false"></p>

        </div>
        <button type="submit">Envoyer<span></span> <span></span>
            <span></span> <span></span></button>
    </form>
</div>
</body>
</html>