<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" sizes="16x16" href="../../images/logo2.png">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navigation" th:fragment="navigationnotconnected">
    <div class="brand">
        <a href="Accueil"><img class="logosite" src="images/logob.png"></a>
    </div>

    <div class="nav-container">
        <nav>
            <div class="nav-mobile"><a class="nav-toggle" href="Accueil"><span></span></a></div>
            <ul class="nav-list">
                <li>
                    <a href="Accueil">Accueil</a>
                </li>
                <li>
                    <a href="Contact">Contact</a>
                </li>
                <li>
                    <a href="connexion">Connexion</a>
                </li>
            </ul>
        </nav>
    </div>
</nav>

<nav class="navigation" th:fragment="navigationadmin">
    <div class="brand">
        <a href="Accueil"><img class="logosite" src="images/logob.png"></a>
    </div>

    <div class="nav-container">
        <nav>
            <div class="nav-mobile"><a class="nav-toggle" href="Accueil"><span></span></a></div>
            <ul class="nav-list">
                <li>
                    <a href="Accueil">Acceuil</a>
                </li>
                <li>
                    <a href="usermanagement">Gérer les utilisateurs</a>
                </li>
                <li>
                    <a href="#!">Formulaires</a>
                    <ul class="nav-dropdown">
                        <li>
                            <a href="Formulaire">Voir formulaires</a>
                        </li>
                        <li>
                            <a href="NewFormulaire">Créer un formulaire</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="connexion">Connexion</a>
                </li>
            </ul>
        </nav>
    </div>
</nav>

<nav class="navigation" th:fragment="navigationadmin">
    <div class="brand">
        <a href="Accueil"><img class="logosite" src="images/logob.png"></a>
    </div>

    <div class="nav-container">
        <nav>
            <div class="nav-mobile"><a class="nav-toggle" href="Accueil"><span></span></a></div>
            <ul class="nav-list">
                <li>
                    <a href="Accueil">Accueil</a>
                </li>
                <li>
                    <a href="#!">Formulaires</a>
                    <ul class="nav-dropdown">
                        <li>
                            <a href="Formulaire">Voir formulaires</a>
                        </li>
                        <li>
                            <a href="NewFormulaire">Créer un formulaire</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="connexion">Connexion</a>
                </li>
            </ul>
        </nav>
    </div>
</nav>

</body>
</html>