<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" type="image/png" sizes="16x16" href="../../images/logo2.png">
    <meta charset="UTF-8">
    <title>Gérez vos utilisateurs</title>
    <link href="css/style.css" rel="stylesheet">
    <script src="js/usermanager.js" type="application/javascript"></script>

</head>
<body>
    <div id="nav-userrole" th:switch="${typeuser}">
        <div th:case="2"><section th:replace="~{ fragments :: navigationadmin }"></section></div>
        <div th:case="1"><section th:replace="~{ fragments :: navigationuser }"></section></div>
        <div th:case="*"><section th:replace="~{ fragments :: navigationnotconnected }"></section></div>
    </div>

    <h1>Infos utilisateurs</h1>
    <!--/*@thymesVar id="role" type=""*/-->
    <p th:text="${role}"></p>
    <div class="tableauG">
    <table class="tableauT">
        <thead class="tableau">
        <tr class="tableau">
            <th class="tableau">Pseudo</th>
            <th class="tableau">Nom</th>
            <th class="tableau">Prenom</th>
            <th class="tableau">Email</th>
            <th class="tableau">Role</th>
        </tr>
        </thead>
        <tbody>
            <tr class="tableau" th:each="utilisateur : ${userList}" th:switch="${utilisateur.getRole()}">
                <td class="tableau" th:text="${utilisateur.getUser()}">pseudo?</td>
                <td class="tableau" th:text="${utilisateur.getNom()}">nom?</td>
                <td class="tableau" th:text="${utilisateur.getPrenom()}">prenom?</td>
                <td class="tableau" th:text="${utilisateur.getEmail()}">email?</td>

                    <td class="tableau" th:case="true">Admin</td>
                    <td class="tableau" th:case="false">Utilisateur</td>
                    <td class="tableau" th:case="*" >Utilisateur</td>

                <td class="tableaudel" th:unless="${utilisateur.getRole()}">
                    <button class="deleteuser" role="button"  th:onclick="@{deleteUser('{pseudo}')(pseudo=${utilisateur.getUser()})}">Supprimer</button>
                </td>
            </tr>
        </tbody>
    </table>
    </div>

</body>
</html>

