<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="icon" type="image/png" sizes="16x16" href="../../images/logob.png">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Page de login</title>

    <!-- Bootstrap core CSS -->
    <link href="css/style.css" rel="stylesheet">

</head>

</head>
<body>

<div class="login-box">
    <h2>Login</h2>
    <form id="loginForm" method="post">
        <div class="user-box">
            <input type="text" id="login" name="login" value="">
            <label>Username</label>
        </div>
        <div class="user-box">
            <input type="password" id="password" name="mdp" value="">
            <label>Password</label>
        </div>

        <p>Veuillez entrer un identifiant et un mot de passe valides</p>

        <button type="submit">Envoyer<span></span> <span></span>
            <span></span> <span></span></button>
        <a href="SignUp">Créer un compte ! <span></span> <span></span>
            <span></span> <span></span>
        </a>
    </form>
</div>
</body>
</html>
