<!DOCTYPE html>
<html lang="fr">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>Page de login</title>

    <!-- Bootstrap core CSS -->
    <link href="style.css" rel="stylesheet">

</head>

</head>
<body>

<div class="login-box">
    <h2>Connexion</h2>
    <form method="post" >
        <div class="user-box">
            <label>Username : </label>
            <input type="text" name="login" value="">

        </div>
        <div class="user-box">
            <label>Password : </label>
            <input type="password" name="mdp" value="">

        </div>

        <p>Veuillez entrez un identifiant et un mot de passe valides</p>
        <button type="submit">Envoyer<span></span> <span></span>
            <span></span> <span></span></button>
        <a href="servlet/New">Créer un compte ! <span></span> <span></span>
            <span></span> <span></span>
        </a>
    </form>
</div>
</body>
</html>