<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Sign Up</title>
	<link rel="stylesheet" type="text/css" href="../../css/style.css">
</head>
<body>
	<div class="formulaire">
		<h1>Sign Up !</h1>
		<form id="loginForm" method="post">
			<div class="user-box">
				<input type="text" name="User">
				<label>Username</label>
			</div>
			<div class="user-box">
				<input type="text" name="Email">
				<label>Email</label>
			</div>
			<div class="user-box">
				<input type="text" name="Nom">
				<label>Last Name</label>
			</div>
			<div class="user-box">
				<input type="text" name="prenom">
				<label>First Name</label>
			</div>
			<div class="user-box1">
				<label>Date of Birth</label>
				<input type="date" name="DateNaissance" id="date">
			</div>
			<div class="user-box1">
				<label>Gender</label>
                <select id="gender" name="genre">
                    <option value="m">Male</option>
                    <option value="f">Female</option>
                </select>
			</div>
			<div class="user-box">
				<input type="password" name="Password">
				<label>Password</label>
			</div>
			<div class="user-box">
				<input type="password" name="Passwordc">
				<label>Password Confirmation</label>
			</div>
			<button type="submit">Envoyer<span></span> <span></span>
            <span></span> <span></span></button>
		</form>		
	</div>
</body>
</html>

