<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="icon" type="image/png" sizes="16x16" href="../../images/logob.png">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Supprimer un utilisateur</title>

    <!-- Bootstrap core CSS -->
    <link href="css/supprimeruser.css" rel="stylesheet">

</head>

</head>
<body>

<div class="login-box">
    <h2>Supprimer un utilisateur</h2>
    <form id="loginForm" method="POST">
        <div class="user-box">
            <input type="text" id="suppuser" name="suppuser">
            <label>UserName</label>
        </div>

        <button type="submit">Envoyer<span></span> <span></span>
            <span></span> <span></span></button>
        <a href="Accueil">Retour <span></span> <span></span>
            <span></span> <span></span>
        </a>
    </form>
</div>
</body>
</html>
