/* Contenu de la page */
html {
    size: auto;
}
h3 {
    text-align : center;
    color: white;
}

#legende {
    display: inline-flex;
    margin-left: 60px;
}

.photo img {
    max-width: 300px;
    padding: 20px;
    margin-top: 20px;
}

.photo p {
    font-size: 60%;
    display: inline;
}

span {
    display: flex;
    flex-flow: column;
    margin: auto;
}
