html {
    height: 130%;
}
body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
}

h1 {
    margin-top: 1.5em;
    padding: 2%;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 54px; font-weight: 300;
    line-height: 58px;
    text-shadow:  0 0 7px #fff,
    0 0 10px #fff,
    0 0 42px rgb(255, 255, 255),
    0 0 77px rgb(255, 255, 255),
    0 0 100px rgb(255, 255, 255)

}

div , p {
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: x-large;
    text-align: center;

}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}

.login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

.login-box form button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

.login-box a:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
    0 0 25px #03e9f4,
    0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

.login-box button:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
    0 0 25px #03e9f4,
    0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

.login-box a span {
    position: absolute;
    display: block;
}

button{
    background-color : #0f1724;
    border: 0px;
}

.login-box button span {
    position: absolute;
    display: block;
}

.login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
}

.login-box button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%,100% {
        left: 100%;
    }
}

.login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

.login-box button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}


@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%,100% {
        top: 100%;
    }
}

.login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

login-box button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }
    50%,100% {
        right: 100%;
    }
}

.login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

.login-box button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
    50%,100% {
        bottom: 100%;
    }
}


<!--CSS barre navigation -->

body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
}

#nav-userrole{
    margin-left: 0%;
    margin-right: 0%;
}
.navigation {
    width: 100em;
    position: fixed;
    display: block;
    height: 70px;
    background: rgba(0,0,0,.5);
    top: 0;
}

.brand {
    position: absolute;
    padding-left: 20px;
    float: left;
    line-height: 70px;
    text-transform: uppercase;
    font-size: 1.4em;
}

.brand img, .brand img:visited {
    color: #fff;
    text-decoration: none;
}

.nav-container {
    max-width: 1000px;
    margin: 0 auto;
}
section.navigation{
    font-size: 18px;
}
nav {
    float: right;
    font-size: 18px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: whitesmoke;
}

nav > ul li:hover .nav-dropdown{
    display: block;
}

nav ul li {
    float: left;
    position: relative;

}

nav ul li a, nav ul li a:visited {
    display: block;
    padding: 0 20px;
    line-height: 70px;
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover, nav ul li a:visited:hover {
    border-radius: 10%;
    background: #003060;
    color: #fff;
}

nav ul li ul li {
    min-width: 190px;
}
nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
}

.nav-dropdown {
    display: none;
    position: absolute;
    z-index: 1;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
    }
.logosite {
    max-width: 40%;
    max-height: 40%;
    float: left;
    margin-top: -65px;
}

/* Contenu de la page */

h3 {
    text-align : center;
}

#legende {
    display: inline-flex;
    margin-left: 60px;
}

.photo img {
    max-width: 300px;
    padding: 20px;
    margin-top: 20px;
}

.photo p {
    font-size: 60%;
    display: inline;
    text-align: center;
    margin-right: 10%;

}

span {
    display: flex;
    flex-flow: column;
    margin: auto;
}
#welc{
    display: inline-block;
}


/* Contenu page Accueil */

figure {
    box-shadow: 50px 50px 50px 50px rgba(0,0,0,.2);
    padding: 1% 1% 4% 1%;
    margin: 3%;
    display: inline-block;
    border-radius: 30px;

}

.boutonformulaire .imgfig {
    width: 100%;
    margin: 3%;
}

figure figcaption {
    text-align: center;
    font-size: 1em;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    text-shadow:  0 0 7px #fff,
    0 0 10px #fff,
    0 0 42px rgb(255, 255, 255),
    0 0 77px rgb(255, 255, 255),
    0 0 100px rgb(255, 255, 255)

}

/*Boutton deconnecter*/

#deco a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

#deco button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    margin-left: 75%;
    margin-top: 8%;
}

#deco a:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
    0 0 25px #03e9f4,
    0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

#deco button:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
    0 0 25px #03e9f4,
    0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

#deco a span {
    position: absolute;
    display: block;
}

#deco button{
    background-color : #0f1724;
    border: 0px;
}

#deco button span {
    position: absolute;
    display: block;
}

#deco a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
}

#deco button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%,100% {
        left: 100%;
    }
}

#deco a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

#deco button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}


@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%,100% {
        top: 100%;
    }
}

#deco a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

#deco button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }
    50%,100% {
        right: 100%;
    }
}

#deco a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

#deco button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
    50%,100% {
        bottom: 100%;
    }
}
.button-24 {
    width : 6em;
    background: #fb9a37;
    border: 1px solid #ffa135;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 7px;
    min-height: 15px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    margin-left: 2em;
}


.button-24:hover,
.button-24:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
}

.button-24:active {
    opacity: .5;
}

#individualForm {
    border-radius: 5%;
    display: inline-table;
    width: 14em;
    background-color: #333440;
    border: black;
    border-spacing: 10px;
    text-align: center;
    margin: auto;
    margin-bottom: 0.25em;

}

#groupForms {
    margin-bottom: 1em;
    margin-right: 1em;
    /* margin-left: auto; */
    margin-top: 1em;
}

#FormSearchBar {
    width: 12em;
    border-radius: 5px;
    height: 2em;
    margin-left: 2em;
}

a {
    text-decoration : none
}

ul.presentation {
    list-style: none;
}

figure.figure {
    background-color: transparent;
}

.tableauT {
    border: 1px solid;
    color: white;
}

.tableau {
    border: 1px solid;
    color: white;
}

h3.contact {
    margin-top: 3em;
}

div.tableauG {
    margin-top: 2em;
    margin-left: 17em;
}



button.deleteuser {
    color: white;
    background: #fb9a37;
    border: 1px solid #ffa135;
    border-radius: 6px;
    box-shadow: rgb(0 0 0 / 10%) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 7px;
    min-height: 15px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

td.tableaudel{
    border: none;
}